
<div class="row">
    <div class="span4">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well", :style => 'width: 300px'}) do |f| %>
        
        <fieldset>
            <legend>Sign In</legend>
            
        <%= f.input :email, :input_html => {:style => 'width: 250px'} %>
        <%= f.input :password, :input_html => {:style => 'width: 250px'} %>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
            <%= f.input :remember_me, as: :boolean %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.button :submit, "Sign in" %>
      </div>
      </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
    
    <div class="span8">
        <h2>We'll try to make you feel as secure as this log in connection!</h2>
    </div>
</div>
